<div class="page" id="my-account">

	<h2>My Account</h2>

	<div class="row">
		<div class="col-md-8">
			<p>If there were any details about your account to show, they would be shown here.</p>
		</div>
		<div class="col-md-4">
			<change-password></change-password>
		</div>
	</div>

</div>