
<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

  <form id="loginform" class="form-signin" role="form" can-submit="done">

    <h2>Password Change Successful</h2>
    <p style="font-size:18px;">Please <strong>delete the confirmation email</strong>. It has expired for your security.</p>
    <a href="{{hrefTo 'home'}}" class="btn btn-lg btn-success btn-block" type="submit">Log me in</a>
  </form>
</div>
