<form class="well" role="form" can-submit="changePassword">
	<h3>Change Password</h3>
	<p>Enter and confirm your new password</p>

  {{#if success}}
  <div class="bg-success"><p>Password changed successfully.</p></div>
  {{/if}}

  {{#if passwordMismatch}}
  <div class="bg-danger"><p>Passwords must match.</p></div>
  {{/if}}

  {{#if passwordTooShort}}
	<div class="bg-danger"><p>Password must be at least 6 characters long.</p></div>
  {{/if}}

  <input type="password" class="form-control top" placeholder="New Password" required can-value="password"/>
  <input type="password" class="form-control bottom" placeholder="Confirm Password" required can-value="password2"/>

  <div class="signup-messages bg-danger">
    {{#if notVerified}}
      <p>That account has not been verified.  Please check your email and click the verification link.</p>
    {{/if}}
  </div>

  <br/>

  <button class="btn btn-success" type="submit">Change Password</button>
</form>