<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
  <h2>Reset Password</h2>
  <p>Enter your email address to receive the password reset code.</p>

  <form id="loginform" class="form-signin" role="form" can-submit="send">

    <input type="text" class="form-control" placeholder="Email Address" required autofocus="" can-value="email"/>

    <div class="signup-messages bg-danger">
      {{#if nonexistent}}
        <p>That account does not exist.</p>
      {{/if}}
    </div>

    <br/>

    <button class="btn btn-lg btn-success btn-block" type="submit">Reset Password</button>
    <a href="{{hrefTo 'login'}}" class="btn btn-block btn-link cancel" type="button">Already signed up? Login</a>
  </form>
</div>