
<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

  <form id="loginform" class="form-signin" role="form" can-submit="send">

    <h2>Password Change Code</h2>
    <p>Enter the code from the email we sent you.</p>
    <input type="text" class="form-control" placeholder="Password Reset Code" required  can-value="secret"/>
    <br/>

    <p>Enter and confirm your new password.</p>
    <input type="password" class="form-control top" placeholder="New Password" autofocus="" required can-value="password"/>
    <input type="password" class="form-control bottom" placeholder="Confirm New Password" required can-value="password2"/>

    <div class="signup-messages bg-danger">
      {{#if invalidCode}}
        <p>That code has already been used. Please delete the email and <a href="#" can-click="tryagain"> request a new one here</a>.</p>
      {{/if}}
    </div>

    <br/>

    <button class="btn btn-lg btn-success btn-block" type="submit">Reset Password</button>
    <button class="btn btn-block btn-link cancel" type="button" can-click="tryagain">Didn't get the email? Try again</button>
  </form>
</div>
